# Don't track large files
data/**/*.jld2
data/**/*.h5

cluster_env/runs/**/*.h5
cluster_env/runs/**/*.jld2
cluster_env/runs/**/*.out
cluster_env/runs/**/.*

# Windows/editor/jupyter friendliness
.DS_Store
.vscode
.ipynb_checkpoints

# Don't track nested git repos
latex_and_diagrams/overleaf_CRLS_git
